{% extends "::simple.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}

        <p><b>Traslados desde {{ fechai }} hasta {{ fechaf }}</b><br/><br/><br/>


	      {% if trasfarma %}
	       <table border="1">

	        <thead>
	            <tr>
	                <th width="30px"><b>No.</b></th>
                	<th width="80px"><b>Fecha.</b></th>
                	<th width="80px"><b>Almacen</b></th>
                	<th width="70px"><b>Farmacia</b></th>
                	<th width="300px"><b>Nombre</b></th>
               	 	<th width="50px"><b>Cant.</b></th>
	               <th width="30px"><b>Tipo</b></th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for trasfarma in trasfarma %}
	            <tr>
	                <td width="30px">{{ loop.index }}</td>
	                <td width="80px">{{ trasfarma.fecha | date('d-m-Y')}}</td>
	                <td width="80px">{{ trasfarma.almacen}}</td>
	             	<td width="70px">{{ trasfarma.farmacia}}</td>
            		<td width="300px">{{ trasfarma.imv}}</td>
            		<td width="50px">{{ trasfarma.cant}}</td>
            		<td width="30px">{{ trasfarma.tipo}}</td>

	            </tr>
	        {% endfor %}

	        </tbody>
	    </table>
	    {% endif %}
{% endblock %}


{% block footer %}
{% endblock %}