{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Traslados{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}



	
{% block cuerpo %}

		<form action="{{ path('traslado_result') }}" onSubmit="return confirm('Seguro de querer generarla busqueda?');" method="post" class="form-horizontal">
    <fieldset>
    	<legend>Busqueda Traslados</legend>

        
  <div>
    	<label for="fecha_inicio">Desde:</label>
    	    <p><input type="text" name="fecha_inicio" id="fecha_inicio" /></p>
    	    <span>(DD/MM/AAAA)</span>
    </div>
    
    <div>
    	<label for="fecha_fin">Hasta:</label>
    	    <p><input type="text" name="fecha_fin" id="fecha_fin" /></p>
    	    <span>(DD/MM/AAAA)</span>
    </div>
    
    </fieldset>
    
   <div class="form-actions">
		<input class="btn btn-primary" name="Buscar" type="submit" value="Buscar" />
				<a href="{{ path('traslado_list') }}" class="btn">Volver</a>				
				
	</div>		    
			    
	
			
</form>




{% endblock %}



	

{% block javascripts %}
		    <script language="javascript" type="text/javascript">
   $(function() {
       $( "#fecha_inicio" ).datepicker({ dateFormat: 'dd/mm/yy' })
       ;
       $( "#fecha_fin" ).datepicker({ dateFormat: 'dd/mm/yy' });
     });
   </script>
{% endblock %}