{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('ParametrizarBundle:Builder:superAdminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Nuevo contrato{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}
	
	{% set label_tipo = {'1': 'Contributivo', '2': 'Subsidiado', '3': 'Vinculado', '4': 'Particular', '5': 'Otro'} %}

	<table class="table">
        <tbody>
        	<tr>
                <td><strong>Nit.</strong></td>
                <td>{{ cliente.nit }}</td>
                <td><strong>Nombre</strong></td>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <td><strong>Código</strong></td>
                <td>{{ cliente.codigo }}</td>
                <td><strong>Tipo</strong></td>
                <td>{{ label_tipo[cliente.tipo] }}</td>
            </tr>            
            <tr>
                <td><strong>Dirección</strong></td>
                <td>{{ cliente.direccion }}</td>
                <td><strong>Teléfono</strong></td>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <td><strong>Estado</strong></td>
                <td>{{ cliente.estado }}</td>
                <td></td>
                <td></td>
            </tr>    
        </tbody>
    </table>


	<form action="{{ path('contrato_save', {'cliente': cliente.id}) }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
	    <fieldset>
	    	<legend>Datos del contrato</legend>
	    	    
			{{ form_widget(form) }}
		   
			<div class="form-actions">
				<input class="btn btn-primary" name="guardar" type="submit" value="Guardar" />
			    <a href="{{ path('cliente_list') }}" class="btn btn-danger">Cancelar</a>
			</div>
	</form>
{% endblock %}