{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('HistoriaBundle:Builder:HistoriaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Editar Historia{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

{% set tipoingreso = factura.tipo %}
	
{% set boolean = '' %}
{% if tipoingreso == 'U' or tipoingreso == 'H' %}
	{% set boolean = 'salida' %}
{% endif %}

   <div id="tableHcPaciente">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Identificación</th>				
					<th>Grupo Etnico</th>
					<th>Edad</th>					
					<th>Estado Civil</th>					
					<th>Aseguradora</th>
					<th>Nivel</th>
					<th>Afiliación</th>								
				</tr>
			</thead>
	        <tbody>
	            <tr>                
	                <td>{{ paciente.priNombre | capitalize }} {{ paciente.segNombre | capitalize }}</td>                
	                <td>{{ paciente.priApellido | capitalize }} {{ paciente.segApellido | capitalize }}</td>
	                <td>{{ paciente.identificacion }}</td>
	                <td>{{ paciente.pertEtnica }}</td>
	                <td>{{ date('now') | date('Y-m-d') - paciente.fn | date('Y-m-d') }} Años</td>	                
	                <td>{{ paciente.estaCivil }}</td>	                        
	                <td>{{ factura.cliente.nombre }}</td>
	                <td>{{ afiliacion.tipoRegist }}</td>
	                <td>{{ afiliacion.rango }}</td>                                           
	            </tr>            
	        </tbody>
	    </table>
   </div>           
   
   		   <div id="crearNewSignos">
   		   {% ui_dialog id="newNotas"
			               title="Crear nuevos signos vitales"
			               widgetVar="new_notas"
			               width="1200px"
			               autoOpen=false
			               modal=true
						   buttons={						                 
				                 	'Cerrar' : js_function("$(this).wijdialog('close')"),
						          } 
  				%}
					  {% ajax_form action=path('smart_signos_save',{'factura':factura.id})
					   class= "form-inline"
		               method="POST"
		               update='#successTarget' %}
		               
		              <fieldset>
		               <div  class="control-group error">
		               	<label id="successTarget" class="control-label" for="inputError"></label>
		               </div>
		               
					    <div>			
							{{ form_label(form_nota.fC) }}
							{{ form_errors(form_nota.fC) }}
							{{ form_widget(form_nota.fC,{ 'attr': {'class': 'input-mini'} }) }}
							
							{{ form_label(form_nota.fR) }}
							{{ form_errors(form_nota.fR) }}
							{{ form_widget(form_nota.fR,{ 'attr': {'class': 'input-mini'} }) }}							
														
							{{ form_label(form_nota.ta) }}
							{{ form_errors(form_nota.ta) }}								
							{{ form_widget(form_nota.ta,{ 'attr': {'class': 'input-mini'} }) }}	
							
							{{ form_label(form_nota.temp) }}
							{{ form_errors(form_nota.temp) }}
							{{ form_widget(form_nota.temp,{ 'attr': {'class': 'input-mini'} }) }}
							
							{{ form_label(form_nota.pulso) }}
							{{ form_errors(form_nota.pulso) }}
							{{ form_widget(form_nota.pulso,{ 'attr': {'class': 'input-mini'} }) }}
								
							{{ form_label(form_nota.peso) }}
							{{ form_errors(form_nota.peso) }}
							{{ form_widget(form_nota.peso,{ 'attr': {'class': 'input-mini'} }) }}
							
							{{ form_label(form_nota.estatura) }}
							{{ form_errors(form_nota.estatura) }}
							{{ form_widget(form_nota.estatura,{ 'attr': {'class': 'input-mini'} }) }}
							
							{{ form_label(form_nota.imc) }}
							{{ form_errors(form_nota.imc) }}
							{{ form_widget(form_nota.imc,{ 'attr': {'class': 'input-mini'} }) }}							
								
							{{ form_label(form_nota.glasgow) }}
							{{ form_errors(form_nota.glasgow) }}
							{{ form_widget(form_nota.glasgow,{ 'attr': {'class': 'input-mini'} }) }}						
										
				    	</div>
				    	
						 	{{ form_label(form_nota.triage) }}
							{{ form_errors(form_nota.triage) }}
							{{ form_widget(form_nota.triage,{ 'attr': {'class': 'input-mini'} }) }}						
				    	
				    	{{ form_rest(form_nota) }}
				     </fieldset>
					    <hr/>					    
					    <input id="button757" type="submit" value="Guardar" class="btn btn-primary" role="button" aria-disabled="false">				    
					    
					  {% end_ajax_form %}
				{% end_ui_dialog %}
			</div>
    
	<form action="{{ path('historia_update', {'factura':factura.id}) }}" class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
	    <fieldset>
	    	<legend>Información de la historia</legend>
	    	
    	<div class="control-group">
    		<label class="control-label" for="signos">Signos:</label>
    		<div class="controls">				
				<a class='btn' onclick="new_notas.wijdialog('open');"  href='#' title='new'><i class='icon-pencil'></i>Nuevo</a>
				<a class='btn' onclick="list_notas.wijdialog('open');" href='#' title='list'><i class='icon-list'></i>Listar</a>
			</div>
			
			
			<div id="listarSignosDeEstaHistoria">
				{% ui_dialog id="listNotas"
			               title="Listado de los ultimos diez signos"
			               widgetVar="list_notas"
			               width="1200px"
			               autoOpen=false
			               modal=true
						   buttons={						                 
				                 	'Cerrar' : js_function("$(this).wijdialog('close')"),
						          } 
  				%}
  					{% if listNotas %}
  					<table class="table table-hover">
  						<thead>
  							<tr>
  								<th>Fecha/Hora</th>
  								<th>Responsable</th>
  								<th>FC</th>
	                			<th>FR</th>
		                		<th>TA</th>
		                		<th>Temp</th>
		                		<th>Pulso</th>
		                		<th>Peso</th>
		                		<th>Estatura</th>
		                		<th>IMC</th>
		                		<th>Glasgow</th>
		                		<th>Nota</th>
  							</tr>
  						</thead>
  						<tbody>
  							{% for nota in listNotas %}  							
	  							<tr>
	  								<td>{{ nota.fecha | date("H:m d/m/Y")}}</td>
	  								<td>{{ nota.responsable.nombre}} {{ nota.responsable.apellido}}</td>
		                			<td>{{ nota.fC}}</td>
		                			<td>{{ nota.fR }}</td>
		                			<td>{{ nota.ta }}</td>
		                			<td>{{ nota.temp }}</td>
		                			<td>{{ nota.pulso }}</td>
		                			<td>{{ nota.peso }}</td>
		                			<td>{{ nota.estatura }}</td>
		                			<td>{{ nota.imc }}</td>
		                			<td>{{ nota.glasgow }}</td>
		                			<td>{{ nota.resumenNota }}</td>
	                			</tr> 
  							{% endfor %}
  						</tbody>
  					</table>
  					{% else %}
  						<h3>Esta historia no tiene asignado sus respectivos signos.</h3>
  					{% endif %}
  				{% end_ui_dialog %}  
			</div>		
			
			
    	</div>
    	
    
		<div class="control-group">
			<label class="control-label" for="fechaIngre">Fecha Ingreso:</label>
			<div class="controls">				
				<span class="input-xlarge uneditable-input">{{ historia.fechaIngre|date('Y-m-d H:i:m') }}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label"  for="fechaEgre">Fecha Egreso:</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input">{{ historia.fechaEgre|date('Y-m-d H:i:m') }}</span>
			</div>
		</div>			
		<div class="control-group">
			<label class="control-label"  for="fechaEgre">Servicio Ingreso: *</label>
			<div class="controls">
				<span class="input-xlarge uneditable-input">{{ factura.servicio.nombre }}</span>
			</div>
		</div>    	
    	    		
	
	  {% ui_expander expanded=false  %}
  		{% ui_header label="Anamnesis" %}
		    {% ui_content style="height:400px" %}      
	      <div id="Anamnesis" style="padding:2px">
	      	<div class="control-group">
					{{ form_label(edit_form.tipoAtencion) }}
				<div class="controls">
					{{ form_errors(edit_form.tipoAtencion) }}
					{{ form_widget(edit_form.tipoAtencion) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.causaExt) }}
				<div class="controls">
					{{ form_errors(edit_form.causaExt) }}
					{{ form_widget(edit_form.causaExt) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.motivo) }}
				<div class="controls">
					{{ form_errors(edit_form.motivo) }}
					{{ form_widget(edit_form.motivo) }}
				</div>
			</div>
			
			<div class="control-group">
					{{ form_label(edit_form.enfermedad) }}
				<div class="controls">
					{{ form_errors(edit_form.enfermedad) }}
					{{ form_widget(edit_form.enfermedad) }}
				</div>
			</div>  
    	{% if boolean %}
    	
    		<div class="control-group">
 					{{ form_label(edit_form.estadoGen) }}
				<div class="controls">
					{{ form_errors(edit_form.estadoGen) }}
					{{ form_widget(edit_form.estadoGen) }}
				</div>
			</div>
    	{% endif %}			    	
	       </div>
      {%  end_ui_content %}
     {% end_ui_expander %}
      
      {% ui_expander expanded=false %}
  		{% ui_header label="Antecedentes" %}
		    {% ui_content style="height:800px" %}      
	      <div id="Antecedentes">
	      
	      	<div class="control-group">
	      			{{ form_label(edit_form.antecedentesGenerales) }}
				<div class="controls">				
					 {{ form_errors(edit_form.antecedentesGenerales) }}
					 {{ form_widget(edit_form.antecedentesGenerales) }}					
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.antecedentesFisio) }}
				<div class="controls">
					 {{ form_errors(edit_form.antecedentesFisio) }}
					 {{ form_widget(edit_form.antecedentesFisio) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.antecedentesGine) }}
				<div class="controls">	
					{{ form_errors(edit_form.antecedentesGine) }}
					{{ form_widget(edit_form.antecedentesGine) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.antecedentesPatologicos) }}
				<div class="controls">
					{{ form_errors(edit_form.antecedentesPatologicos) }}
					{{ form_widget(edit_form.antecedentesPatologicos) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.antecedentesFami) }}
				<div class="controls">
					{{ form_errors(edit_form.antecedentesFami) }}
					{{ form_widget(edit_form.antecedentesFami) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.habitosNocivos) }}
				<div class="controls">
					{{ form_errors(edit_form.habitosNocivos) }}
					{{ form_widget(edit_form.habitosNocivos) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.inmunizaciones) }}
				<div class="controls">
					{{ form_errors(edit_form.inmunizaciones) }}
					{{ form_widget(edit_form.inmunizaciones) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.alergias) }}
				<div class="controls">
					{{ form_errors(edit_form.alergias) }}
					{{ form_widget(edit_form.alergias) }}
				</div>
			</div>				
	    </div>
      {%  end_ui_content %}
     {% end_ui_expander %}
      
      {% ui_expander expanded=false %}
  		{% ui_header label="Examen Fisico rostro" %}
		    {% ui_content style="height:600px" %}     
	      <div id="ExamenFisico">
	      
	      	<div class="control-group">
					{{ form_label(edit_form.cabeza) }}
				<div class="controls">
					{{ form_errors(edit_form.cabeza) }}
					{{ form_widget(edit_form.cabeza) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.cara) }}
				<div class="controls">
					{{ form_errors(edit_form.cara) }}
					{{ form_widget(edit_form.cara) }}
				</div>
			</div>	
			<div class="control-group">
					{{ form_label(edit_form.ojos) }}
				<div class="controls">
					{{ form_errors(edit_form.ojos) }}
					{{ form_widget(edit_form.ojos) }}
				</div>
			</div>	
			<div class="control-group">
					{{ form_label(edit_form.oidos) }}
				<div class="controls">
					{{ form_errors(edit_form.oidos) }}
					{{ form_widget(edit_form.oidos) }}
				</div>
			</div>	
			<div class="control-group">
					{{ form_label(edit_form.nariz) }}
				<div class="controls">
					{{ form_errors(edit_form.nariz) }}
					{{ form_widget(edit_form.nariz) }}
				</div>
			</div>	
			<div class="control-group">
					{{ form_label(edit_form.boca) }}
				<div class="controls">
					{{ form_errors(edit_form.boca) }}
					{{ form_widget(edit_form.boca) }}
				</div>
			</div>
		</div>
	   {% end_ui_content %}
	  {% end_ui_expander %}
	   
	   {% ui_expander expanded=false %}
  		{% ui_header label="Examen Fisico Cuerpo" %}
		    {% ui_content style="height:700px" %} 	
	   
	    <div>
	    	<div class="control-group">
					{{ form_label(edit_form.cuello) }}
				<div class="controls">
					{{ form_errors(edit_form.cuello) }}
					{{ form_widget(edit_form.cuello) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.torax) }}
				<div class="controls">
					{{ form_errors(edit_form.torax) }}
					{{ form_widget(edit_form.torax) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.pulmones) }}
				<div class="controls">
					{{ form_errors(edit_form.pulmones) }}
					{{ form_widget(edit_form.pulmones) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.abdomen) }}
				<div class="controls">
					{{ form_errors(edit_form.abdomen) }}
					{{ form_widget(edit_form.abdomen) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.espalda) }}
				<div class="controls">
					{{ form_errors(edit_form.espalda) }}
					{{ form_widget(edit_form.espalda) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.extremidades) }}
				<div class="controls">
					{{ form_errors(edit_form.extremidades) }}
					{{ form_widget(edit_form.extremidades) }}
				</div>
			</div>
			<div class="control-group">
					{{ form_label(edit_form.genitales) }}
				<div class="controls">
					{{ form_errors(edit_form.genitales) }}
					{{ form_widget(edit_form.genitales) }}
				</div>
			</div>
	    </div>       
       {%  end_ui_content %}
      {% end_ui_expander %}     
      
      
       {% ui_expander expanded=false %}
  		{% ui_header label="Revision por sistemas" %}
		    {% ui_content style="height:500px" %}	   
	    <div>
	    
	    	<div class="control-group">
				{{ form_label(edit_form.o_sentidos) }}
    	    	<div class="controls">
				{{ form_errors(edit_form.o_sentidos) }}
				{{ form_widget(edit_form.o_sentidos,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>
    	    
    	    <div class="control-group">
				{{ form_label(edit_form.a_respiratorio) }}
    	    	<div class="controls">
				{{ form_errors(edit_form.a_respiratorio) }}
				{{ form_widget(edit_form.a_respiratorio,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>
    	    
    	    <div class="control-group">
				{{ form_label(edit_form.a_cardiovascular) }}
    	    	<div class="controls">
				{{ form_errors(edit_form.a_cardiovascular) }}
				{{ form_widget(edit_form.a_cardiovascular,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>
    	    
    	    <div class="control-group">
				{{ form_label(edit_form.a_digestivo) }}
    	    	<div class="controls">
				{{ form_errors(edit_form.a_digestivo) }}
				{{ form_widget(edit_form.a_digestivo,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>
    	    
    	    <div class="control-group">
				{{ form_label(edit_form.a_genitoUrinario) }}
    	    	<div class="controls">
				{{ form_errors(edit_form.a_genitoUrinario) }}
				{{ form_widget(edit_form.a_genitoUrinario,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>
			
			<div class="control-group">
				{{ form_label(edit_form.s_nervioso) }}
    	    	<div class="controls">
				{{ form_errors(edit_form.s_nervioso) }}
				{{ form_widget(edit_form.s_nervioso,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>
    	    
    	    <div class="control-group">
				{{ form_label(edit_form.a_hematologico) }}	
    	    	<div class="controls">
				{{ form_errors(edit_form.a_hematologico) }}
				{{ form_widget(edit_form.a_hematologico,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>
				
			<div class="control-group">
				{{ form_label(edit_form.s_osteoarticular) }}
    	    	<div class="controls">
				{{ form_errors(edit_form.s_osteoarticular) }}
				{{ form_widget(edit_form.s_osteoarticular,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>
    	    
			<div class="control-group">
				{{ form_label(edit_form.s_endocrino) }}
    	    	<div class="controls">
					{{ form_errors(edit_form.s_endocrino) }}
					{{ form_widget(edit_form.s_endocrino,{ 'attr': {'class': 'input-xxlarge'} }) }}
				</div>
    	    </div>	
	    </div>       
       {%  end_ui_content %}
      {% end_ui_expander %}      
      
  {% if tipoingreso == 'U' or tipoingreso == 'H' %}    
      {% ui_accordion %}
      {% ui_tab label="Parte Medica Diagnostica" %}
     		 <div id="ParteMedica">     		 
	     		 <div class="form-inline">
					{{ form_label(edit_form.dxPrin) }}
					<div class="controls">
						{{ form_errors(edit_form.dxPrin) }}
						{{ form_widget(edit_form.dxPrin) }}
						
						{{ form_errors(edit_form.nameDxPrin) }}
						{{ form_widget(edit_form.nameDxPrin) }}
					</div>										
	    	     </div>
	    	    
	     		 <div id="dxSolicitados">
	     		 	<div id="ajaxMsgCie"></div>
		     		<table id="CieSolicitado" class="table table-striped">
						<thead>
		            		<tr>
		                		<th>NOMBRE</th>
		                		<th>CODIGO</th>
		                		<th>OPCIÓN</th>                
		            		</tr>
		        		</thead>
					    <tbody>  
					    	{% for cie in hc_cie %}
					    		<tr id="dx{{ cie.id }}">
						    		<td>{{ cie.nombre }}</td>
						    		<td>{{ cie.codigo }}</td>  
						    		<td id="delCieBtn{{ cie.id }}">
						    			<a class='btn' onClick='delCie({{ cie.id }}); return false;' href='#' title='Eliminar'><i class='icon-remove'></i></a>
						    		</td>
					    		</tr>
					    	{% endfor %} 
					    
					    </tbody>
					</table> 
	     		 </div>
	     		 
	     		 <div class="control-group">
						{{ form_label(edit_form.tipoDx) }}
	    	    	<div class="controls">
						{{ form_errors(edit_form.tipoDx) }}
						{{ form_widget(edit_form.tipoDx) }}
					</div>
	    	    </div>
	    	    
	    	    <div class="control-group">
						{{ form_label(edit_form.conducta) }}
	    	    	<div class="controls">
						{{ form_errors(edit_form.conducta) }}
						{{ form_widget(edit_form.conducta) }}
					</div>
	    	    </div>
	    	    <div class="control-group">
						{{ form_label(edit_form.evolucion) }}
	    	    	<div class="controls">
						{{ form_errors(edit_form.evolucion) }}
						{{ form_widget(edit_form.evolucion) }}
					</div>
	    	    </div>
                    <div class="control-group">
						{{ form_label(edit_form.ordenmedica) }}
	    	    	<div class="controls">
						{{ form_errors(edit_form.ordenmedica) }}
						{{ form_widget(edit_form.ordenmedica) }}
					</div>
	    	    </div>	     		
    		 </div>
      {%  end_ui_tab %}
	
      {% ui_tab label="Laboratorios/Procedimientos" %}     	       
      
      			 <div class="control-group">
		     		{{ form_label(edit_form.examenes) }}		     		
					{{ form_errors(edit_form.examenes) }}
					<div class="controls">					
					{{ form_widget(edit_form.examenes) }}
					<a class='btn' onClick="myAllListExa.wijdialog('open'); return false;" href='#' title='leer'><i class='icon-list'></i>Listar Examenes</a>
					</div>				
	     		 </div>	
                    
	     		 
	     		 		{% ui_dialog id="listAllExaHc"						    						   
					                 title= "Listar todos los examenes"
					                 width="1100px"			                 
					                 widgetVar="myAllListExa"									                 
					                 autoOpen=false
					                 modal=true
									 buttons={						                 
						                 'Cerrar' : js_function("$(this).wijdialog('close')"),
						               } 
			 			 %}							 
							 	<table class="table table-striped">
				     		 		<thead>
				     		 			<tr>
				     		 				<th colspan="4"><h3>Ultimos diez examenes de todo su historial clinico</h3></th>
				     		 			</tr>
				     		 			<tr>
					                		<th>NOMBRE</th>		                		
					                		<th>TIPO</th>
					                		<th>RESULTADO</th>				                		 		                		
					            		</tr>
				     		 		</thead>
				     		 		<tbody>					                    
									{% for list_exam in hc_exa_all%}
			     		 				<tr>
								    		<td>{{ list_exam.nombre }}</td>
								    		<td>{{ list_exam.tipo }}</td>
								    		<td>{{ list_exam.resultado }}</td>							    		
							    		</tr>
							    		{% else %}
							    		<tr>
				     		 				<td>No hay examenes asignados al pacientede su historial clinico</td>
				     		 			</tr>
									 {% endfor %}
									 </tbody>
	     		 				</table>
						 {% end_ui_dialog %} 	     		 
	     		 
	     		 
	     		 <div id="ajaxMsgExa"></div>
	     		 <div id="exaSoli">	     		 	
	     		 	<table id="examenSolicitado" class="table table-striped">
	     		 		<thead>
	     		 			<tr>
	     		 				<th colspan="4"><h3>Examenes y procedimientos solicitados </h3></th>
	     		 			</tr>
	     		 			<tr>
		                		<th>NOMBRE</th>		                		
		                		<th>TIPO</th>
		                		<th>RESULTADO</th>
		                		<th>Leer</th>
		                		<th>OPCIÓN</th>       		                		
		            		</tr>
	     		 		</thead>
	     		 		<tbody>					                    
	     		 			{% for examen in hc_exa %}
	     		 				<tr id="exa{{ examen.id }}">
						    		<td>{{ examen.nombre }}</td>
						    		<td>{{ examen.tipo }}</td>
						    		<td id="div{{ examen.id }}">
						    			<div id="resultado{{ examen.id }}">{{ examen.resultado }}</div>
						    		</td>
						    		<td id="opcion{{ examen.id }}">					    			
						    			<a onClick='readExamen({{ examen.id }});return false;' class='btn'  href='#' title='leer'><i class='icon-edit'></i></a>		
						    		</td>    
						    		<td id="delExaBtn{{ examen.id }}">
						    			<a class='btn' onClick='delExa({{ examen.id }}); return false;' href='#' title='Eliminar'><i class='icon-remove'></i></a>
						    		</td>
					    		</tr>
	     		 			{% endfor %}
	     		 		</tbody>
	     		 	</table>
	     		 </div>	     
      {%  end_ui_tab %}       
      
	  {% ui_tab label="Medicamentos" %}	  	
	  		  
	  		  	<div class="control-group">
		     		{{ form_label(edit_form.laboratorio) }}					
					<div class="controls">				
					{{ form_errors(edit_form.laboratorio) }}	
					{{ form_widget(edit_form.laboratorio) }}					
					</div>				
	     		 </div>	
		    	
	     		 
	     		  <div id="ajaxMsgLab"></div>
	     		 <div id="labSoli">	     		 	
	     		 	<table id="laboraSolicitado" class="table table-striped">
	     		 		<thead>
	     		 			<tr>
	     		 				<th colspan="4"><h3>Medicamentos Solicitados</h3></th>
	     		 			</tr>
	     		 			<tr>
		                		<th>NOMBRE</th>		                		
		                		<th>PRESENTACIÓN</th>
		                		<th>CONCENTRACIÓN</th>
		                		<th>POSOLOGIA</th>
		                		<th>OPCIÓN</th>       		                		
		            		</tr>
	     		 		</thead>
	     		 		<tbody>
	     		 			{% for medicamento in hc_lab %}
	     		 				<tr id="lab{{ medicamento.id }}">
						    		<td>{{ medicamento.principioActivo }}</td>
						    		<td>{{ medicamento.presentacion }}</td>
						    		<td>{{ medicamento.concentracion }}</td>
						    		<td>{{ medicamento.posologia }}</td>  
						    		<td id="delLabBtn{{ medicamento.id }}">
						    			<a class='btn' onClick='delLab({{ medicamento.id }}); return false;' href='#' title='Eliminar'><i class='icon-remove'></i></a>
						    		</td>
					    		</tr>
	     		 			{% endfor %}
	     		 		</tbody>
	     		 	</table>
	     		 </div>	     	
		{%  end_ui_tab %}	
		{% end_ui_accordion %}
	{% else %}
	 {% ui_accordion %}
      {% ui_tab label="Parte Medica Diagnostica" %}
     		 <div id="ParteMedica">
     		 
	     		 <div class="form-inline">
					{{ form_label(edit_form.dxPrin) }}
					<div class="controls">
						{{ form_errors(edit_form.dxPrin) }}
						{{ form_widget(edit_form.dxPrin) }}
						
						{{ form_errors(edit_form.nameDxPrin) }}
						{{ form_widget(edit_form.nameDxPrin) }}
					</div>										
	    	     </div>
	    	    
	     		 <div id="dxSolicitados">
	     		 	<div id="ajaxMsgCie"></div>
		     		<table id="CieSolicitado" class="table table-striped">
						<thead>
		            		<tr>
		                		<th>NOMBRE</th>
		                		<th>CODIGO</th>
		                		<th>OPCIÓN</th>                
		            		</tr>
		        		</thead>
					    <tbody>  
					    	{% for cie in hc_cie %}
					    		<tr id="dx{{ cie.id }}">
						    		<td>{{ cie.nombre }}</td>
						    		<td>{{ cie.codigo }}</td>  
						    		<td id="delCieBtn{{ cie.id }}">
						    			<a class='btn' onClick='delCie({{ cie.id }}); return false;' href='#' title='Eliminar'><i class='icon-remove'></i></a>
						    		</td>
					    		</tr>
					    	{% endfor %} 
					    
					    </tbody>
					</table> 
	     		 </div>
	     		<div class="control-group">
						{{ form_label(edit_form.tipoDx) }}
	    	    	<div class="controls">
						{{ form_errors(edit_form.tipoDx) }}
						{{ form_widget(edit_form.tipoDx) }}
					</div>
	    	    </div>
	    	    
	    	    <div class="control-group">
						{{ form_label(edit_form.conducta) }}
	    	    	<div class="controls">
						{{ form_errors(edit_form.conducta) }}
						{{ form_widget(edit_form.conducta) }}
					</div>
	    	    </div>     		
    		 </div>
      {%  end_ui_tab %}
     {% end_ui_accordion %}
  {% endif %}
  		
  		{% ui_expander expanded=false %}
  		{% ui_header label="Egreso" %}
		    {% ui_content style="height:1200px" %} 		    	
		    	<div id="Egreso">
		    	
		    	{% if tipoingreso == 'U' or tipoingreso == 'H' %}
		    	
			    	 <div class="form-inline">
						{{ form_label(edit_form.dxSalida) }}
						<div class="controls">
							{{ form_errors(edit_form.dxSalida) }}
							{{ form_widget(edit_form.dxSalida) }}
							
							{{ form_errors(edit_form.codeDxSalida) }}
							{{ form_widget(edit_form.codeDxSalida) }}
							
							{{ form_errors(edit_form.nameDxSalida) }}
							{{ form_widget(edit_form.nameDxSalida) }}
						</div>											
	    	    	 </div>   	 
	    	    	<br/>
	    	    	<div class="control-group">
	    	    			{{ form_label(edit_form.condSalida) }}						
		    	    	 <div class="controls">
		    	    	 	{{ form_errors(edit_form.condSalida) }}
							{{ form_widget(edit_form.condSalida) }}
						 </div>
	    	    	</div>
				 {% endif %}
				 
				 <br/>
				 <div class="control-group">
						{{ form_label(edit_form.medicamentos_s) }}						
	    	    	 <div class="controls">
						{{ form_errors(edit_form.sal_medicamentos) }}
						{{ form_widget(edit_form.sal_medicamentos) }}
					 </div>
					 <div class="controls">
						{{ form_errors(edit_form.medicamentos_s) }}
						{{ form_widget(edit_form.medicamentos_s) }}
					 </div>
    	    	</div>	    	    					
				<br/>				
				<div class="control-group">
						{{ form_label(edit_form.procedimientos_s) }}						
	    	    	 <div class="controls">
						{{ form_errors(edit_form.sal_procedimientos) }}
						{{ form_widget(edit_form.sal_procedimientos) }}
					 </div>
					 <div class="controls">
						{{ form_errors(edit_form.procedimientos_s) }}
						{{ form_widget(edit_form.procedimientos_s) }}
					 </div>
    	    	</div>							
				<br/>
				<div class="control-group">
						{{ form_label(edit_form.examenes_s) }}						
	    	    	 <div class="controls">
						{{ form_errors(edit_form.sal_examenes) }}
						{{ form_widget(edit_form.sal_examenes) }}
					 </div>
					 <div class="controls">
						{{ form_errors(edit_form.examenes_s) }}
						{{ form_widget(edit_form.examenes_s) }}
					 </div>
    	    	</div>
					 
				 
				 <div>
				 	{{ form_label(edit_form.manejoSalida) }}						
					{{ form_errors(edit_form.manejoSalida) }}
					{{ form_widget(edit_form.manejoSalida) }}
				 </div>
				 
				 <div>	
					{{ form_label(edit_form.incapacidad) }}
					{{ form_errors(edit_form.incapacidad) }}
					{{ form_widget(edit_form.incapacidad) }}
				 </div>
				 <br/>	
				  
				  
				{% if tipoingreso == 'U' or tipoingreso == 'H' %}
					  <div class="control-group">
						{{ form_label(edit_form.tipoDestino) }}	
	    	    		<div class="controls">
						{{ form_errors(edit_form.tipoDestino) }}
						{{ form_widget(edit_form.tipoDestino) }}
						</div>
	    	   		 </div>	
					  
					  <div class="control-group">
						{{ form_label(edit_form.destino) }}	
	    	    		<div class="controls">
						{{ form_errors(edit_form.destino) }}
						{{ form_widget(edit_form.destino) }}
						</div>
	    	   		 </div>	 
	    	   		 {% else %}
	    	   		 <br/><a href="#" onClick='tipoSalidaConsultaExterna(true); return false;' name="cextRemision" id="cextRemision" class="btn">Remisión</a>
	    	   		 	  <a href="#" onClick='tipoSalidaConsultaExterna(false); return false;' name="cerrarRemision" id="cerrarRemision" class="btn">Cerrar Remisión</a>
	    	   		 <br/><br/>
    	   		 {% endif %} 			
		    	</div>     
		    					
				<div id="formSalida" style="display: none;" >
					<div id="salidaObservacion" style="display: none;" >
						<div class="control-group">
							{{ form_label(edit_form.destinoUserSalidaObser) }}
		    	    		<div class="controls">
							{{ form_errors(edit_form.destinoUserSalidaObser) }}
							{{ form_widget(edit_form.destinoUserSalidaObser) }}
							</div>
		    	   		 </div>	
		    	   	</div>
		    	   		 
		    	   	<div id="viaIngresoInstitution" style="display: none;" >
						<div class="control-group">
							{{ form_label(edit_form.viaIngresoInstitucion) }}
		    	    		<div class="controls">
							{{ form_errors(edit_form.viaIngresoInstitucion) }}
							{{ form_widget(edit_form.viaIngresoInstitucion) }}
							</div>
		    	   	 	</div>		    	   	 
		    	   	</div>
	    	   		 
	    	   		 <div class="control-group">
						{{ form_label(edit_form.estadoSalida) }}
	    	    		<div class="controls">
						{{ form_errors(edit_form.estadoSalida) }}
						{{ form_widget(edit_form.estadoSalida) }}
						</div>
	    	   		 </div>		    	   			
				</div>		
				
				
				<div id="remision" style="display: none;" >	
		    	
		    	<div class="control-group">
					{{ form_label(edit_form.destino_r) }}	
    	    		<div class="controls">
					{{ form_errors(edit_form.destino_r) }}
					{{ form_widget(edit_form.destino_r,{ 'attr': {'class': 'input-xxlarge'} }) }}
					</div>
    	   		 </div>	
    	   		 
    	   		 <div class="control-group">
					{{ form_label(edit_form.especialidad_r) }}
    	    		<div class="controls">
					{{ form_errors(edit_form.especialidad_r) }}
					{{ form_widget(edit_form.especialidad_r,{ 'attr': {'class': 'input-xxlarge'} }) }}
					</div>
    	   		 </div>	
    	   		 
    	   		 <div class="control-group">
					{{ form_label(edit_form.nuAuto_r) }}
    	    		<div class="controls">
					{{ form_errors(edit_form.nuAuto_r) }}
					{{ form_widget(edit_form.nuAuto_r,{ 'attr': {'class': 'input-small'} }) }}
					</div>
    	   		 </div>	    	   		 				   
				 <div class="control-group">
					{{ form_label(edit_form.rServicio) }}
    	    		<div class="controls">
					{{ form_errors(edit_form.rServicio) }}
					{{ form_widget(edit_form.rServicio,{ 'attr': {'class': 'input-xlarge'} }) }}
					</div>
    	   		 </div>	    	   						
				</div>	
				
				<div id="remision2" style="display: none;" >
				 <div class="control-group">
					{{ form_label(edit_form.descripcion_r) }}
    	    		<div class="controls">
					{{ form_errors(edit_form.descripcion_r) }}
					{{ form_widget(edit_form.descripcion_r) }}
					</div>
    	   		 </div>	
				</div>		
				
					
		    {% end_ui_content %}
		{% end_ui_expander %}
		 
		{% if tipoingreso == 'U' or tipoingreso == 'H' %}
				{% ui_expander expanded=false %}
		  		{% ui_header label="Fromulario Parto" %}
				    {% ui_content style="height:430px" %}
					    <div id="hcParto" >
			    	 		<div class="control-group">
				    			{{ form_label(edit_form.p_Fecha_n) }}
				    			
			    	    		<div class="controls">
									{{ form_errors(edit_form.p_Fecha_n) }}
									{{ form_widget(edit_form.p_Fecha_n) }}
								</div>
			    	   		 </div>	 
			    	   		 
			    	   		 <div class="control-group">
				    			{{ form_label(edit_form.pEdadG) }}
				    			
			    	    		<div class="controls">
									{{ form_errors(edit_form.pEdadG) }}
									{{ form_widget(edit_form.pEdadG) }}
									 <span class="add-on">Semanal</span>
								</div>
			    	   		 </div> 
			    	   		 
			    	   		 <div class="control-group">
				    			{{ form_label(edit_form.pControlP) }}
				    			
			    	    		<div class="controls">
									{{ form_errors(edit_form.pControlP) }}
									{{ form_widget(edit_form.pControlP) }}
								</div>
			    	   		 </div>  
			    	   		 
			    	   		 <div class="control-group">
				    			{{ form_label(edit_form.pSexo) }}
				    			
			    	    		<div class="controls">
									{{ form_errors(edit_form.pSexo) }}
									{{ form_widget(edit_form.pSexo) }}
								</div>
			    	   		 </div>    		 
			    	   		  
			    	   		 
			    	   		 <div class="control-group">
				    			{{ form_label(edit_form.pPeso) }}
				    			
			    	    		<div class="controls">
									{{ form_errors(edit_form.pPeso) }}
									{{ form_widget(edit_form.pPeso) }}
									<span class="add-on">g</span>
								</div>
			    	   		 </div>  
			    	   		 
			    	   		  <div class="form-inline">
								{{ form_label(edit_form.pDx) }}
								<div class="controls">
									{{ form_errors(edit_form.pDx) }}
									{{ form_widget(edit_form.pDx) }}
									
									{{ form_errors(edit_form.codeDxpDx) }}
									{{ form_widget(edit_form.codeDxpDx) }}
									
									{{ form_errors(edit_form.nameDxpDx) }}
									{{ form_widget(edit_form.nameDxpDx) }}
								</div>											
			    	    	 </div>
			    	   		 <br/><br/>
			    	   		 <div class="control-group">
				    			{{ form_label(edit_form.p_fecha_m) }}
				    			
			    	    		<div class="controls">
									{{ form_errors(edit_form.p_fecha_m) }}
									{{ form_widget(edit_form.p_fecha_m) }}
								</div>
			    	   		 </div>	
			    	   		 
			    	   		 <div class="form-inline">
								{{ form_label(edit_form.pCausaM) }}
								<div class="controls">
									{{ form_errors(edit_form.pCausaM) }}
									{{ form_widget(edit_form.pCausaM) }}
									
									{{ form_errors(edit_form.codeDxpCausaM) }}
									{{ form_widget(edit_form.codeDxpCausaM) }}
									
									{{ form_errors(edit_form.nameDxpCausaM) }}
									{{ form_widget(edit_form.nameDxpCausaM) }}
								</div>											
			    	    	 </div>    	   		 
			    	 	</div>
				    {% end_ui_content %}
				{% end_ui_expander %} 
			{% endif %} <br/> 
		
				<div class="control-group">
	    			{{ form_label(edit_form.serviEgre) }}
	    			
    	    		<div class="controls">
						{{ form_errors(edit_form.serviEgre) }}
						{{ form_widget(edit_form.serviEgre) }}
					</div>
    	   		 </div>		   	 
    	   		 
    	   		 
  		<div id="remision" style="display: none;" >	
		   {{ form_rest(edit_form) }}
		 </div>
       </fieldset>
       
			<div class="form-actions">
				<input class="btn btn-primary" name="guardar" type="submit" value="Modificar" onclick="return confirm('¡Una ves guardada la información la historia quedara cerrada!. ¿Seguro desea guardar?');" />
			    <a href="{{ path('paciente_filtro') }}" class="btn btn-danger">Cancelar</a>			    
			   {% if historia.serviEgre %} <a href="{{ path('historia_imprime', {'factura': factura.id}) }}" target='blank' class="btn" >Imprimir</a>{% endif %}
			</div>
	</form>
{% endblock %}

{% block javascripts %}

{% set tipoingreso = factura.tipo %}

<script src="{{ asset('bundles/knx/js/HistoriaJS/Historia_edit.js') }}"></script>
	
<script type="text/javascript">

	function saveResultadoExamen(examen){

		$('#opcion'+examen).empty();// se deshabilita el boton para que no se ejecute multiples veces la funcion. 
		
		var url="{{ path('historia_saveResultadoExamen') }}";
		var examenId = examen;
		var hcId = {{ historia.id }};
		var resultado = $("#textarea"+examenId).val();		

		if(resultado != "")
		{
			$.post(url,{
				
				hcId: hcId,
				examenId : examenId,
				result: resultado
				
				},function(data){
					if(data.responseCode==200){

					   $('#ajaxMsgExa').empty();

					   var div ="<div id='resultado"+examenId+"'>"+resultado+"</div>";
				       var a = "<a onClick='readExamen("+examenId+"); return false;' class='btn' href='#' title='leer'><i class='icon-edit'></i></a>"					    	  

				       $('#opcion'+examenId).empty();
				       $('#div'+examenId).empty();
				       $("#div"+examenId).append(div);	       
				       $("#opcion"+examenId).append(a);
					}					       
					else if(data.responseCode==400){
		             	$('#ajaxMsgExa').html(data.msg);
		                $('#ajaxMsgExa').css("color","red");

		                var div ="<div id='resultado"+examenId+"'>"+resultado+"</div>";
		 		        var a = "<a onClick='readExamen("+examenId+"); return false;' class='btn' href='#' title='leer'><i class='icon-edit'></i></a>"
	
		 		        $('#opcion'+examenId).empty();
		 		        $('#div'+examenId).empty();
		 		        $("#div"+examenId).append(div);	       
		 		        $("#opcion"+examenId).append(a);
		             }
		             else{
		         	    alert("Ha ocurrido un error en el sistema. Por favor guarde el resto de inoformacion y refresque la pagina.");
		             }
		        })
		}else{
			   var div ="<div id='resultado"+examenId+"'>"+resultado+"</div>";
		       var a = "<a onClick='readExamen("+examenId+"); return false;' class='btn' href='#' title='leer'><i class='icon-edit'></i></a>"

		       $('#opcion'+examenId).empty();
		       $('#div'+examenId).empty();
		       $("#div"+examenId).append(div);	       
		       $("#opcion"+examenId).append(a);
			}
	}
	
	// funcion para que el medico cada vez que presione la evolucion se asigne la fecha.	
	$('#newHcType_evolucion').click(function()
	{			
		var usuario = "{{ usuario.nombre }} {{ usuario.apellido }}";
		var date = "{{ today | date("d/m/Y H:i") }}";			 
			$('#newHcType_evolucion').append("\n::Evolución["+date+"], Dr[ "+usuario+"]: ");
			return false; 
		});
                
                $('#newHcType_ordenmedica').click(function()
	{			
		var usuario = "{{ usuario.nombre }} {{ usuario.apellido }}";
		var date = "{{ today | date("d/m/Y H:i") }}";			 
			$('#newHcType_ordenmedica').append("\n::OrdenMedica["+date+"], Dr[ "+usuario+"]: ");
			return false; 
		});
	$('#newNotasType_resumenNota').click(function()
			{			
				var usuario = "{{ usuario.nombre }} {{ usuario.apellido }}";
				var date = "{{ today | date("d/m/Y H:i") }}";			 
					$('#newNotasType_resumenNota').append("\n::Evolución["+date+"], Dr[ "+usuario+"]: ");
					return false; 
				});	  

	// funcion para eliminar la relacion del medicamento "laboratorio" con la historia clinica
	  function delLab(id){

		if(confirm("Esta seguro de eliminar el laboratorio¿?"))
		{
			 $('#delLabBtn'+id).empty();
			 
			 var url = "{{ path('historia_delLaboratorioHc') }}";
			 var hc = {{ historia.id }};		 

			 $.post(url,{
				 laboId: id,
	             hc : hc             
		      },function(data){
		          if(data.responseCode==200 ){
		              
					  $("#lab"+id).empty();
					  $("#newHcType_laboratorio"+id).empty();				  

		        	  $('#ajaxMsgLab').html(data.msg);
			          $('#ajaxMsgLab').css("color","green");
		          }
		          else if(data.responseCode==400){
		          	$('#ajaxMsgLab').html(data.msg);
		            $('#ajaxMsgLab').css("color","red");
		          }
		          else{
		      	    alert("Ha ocurrido un error en el sistema.");
		          }
		     })
		}			 
	}

	// cuncion para eliminar la relacion del examen con la historia clinica
  function delExa(id){

		 if(confirm("Esta seguro de eliminar el examen¿?"))
		 {
			 $('#delExaBtn'+id).empty();
			 var url = "{{ path('historia_delExamenHc') }}";
			 var hc = {{ historia.id }};		 

			 $.post(url,{
				 exaId: id,
	             hc : hc             
		      },function(data){
		          if(data.responseCode==200 ){
		              
					  $("#exa"+id).empty();
					  $("#newHcType_examenes"+id).empty();				  

		        	  $('#ajaxMsgExa').html(data.msg);
			          $('#ajaxMsgExa').css("color","green");
		          }
		          else if(data.responseCode==400){
		          	$('#ajaxMsgExa').html(data.msg);
		            $('#ajaxMsgExa').css("color","red");
		          }
		          else{
		      	    alert("Ha ocurrido un error en el sistema.");
		          }
		     })
		  }		 
	 } 
		      
	// cuncion para eliminar la relacion del diagnostico con la historia clinica
  function delCie(id){

	  if(confirm("Esta seguro de eliminar el diagnostico¿?"))// se consulta la valides de evento generado por el usuario
		{
			 $('#delCieBtn'+id).empty(); // se deshabilita el boton para evitar multiples acciones

			 var url = "{{ path('historia_delDxHc') }}";
			 var hc = {{ historia.id }};		 

			 $.post(url,{
	             cie: id, // atributos que se pasaran por medio del post
	             hc : hc             
		      },function(data){
		          if(data.responseCode==200 ){ // respuesta del RESPONSE 
		              
					  $("#dx"+id).empty();
					  $("#newHcType_dxPrin"+id).empty();				  

		        	  $('#ajaxMsgCie').html(data.msg);
			          $('#ajaxMsgCie').css("color","green");
		          }
		          else if(data.responseCode==400){
		          	$('#ajaxMsgCie').html(data.msg);
		            $('#ajaxMsgCie').css("color","red");
		          }
		          else{
		      	    alert("Ha ocurrido un error en el sistema.");
		          }
		     })
		}
	 }

	 // funcion para la busqueda del diagnostico con el autocomplete
	$("#newHcType_dxPrin,#newHcType_codeDxSalida,#newHcType_codeDxpDx,#newHcType_codeDxpCausaM").focusin(function()
	{
		var url = "{{ path('historia_dxCodeSearch') }}";
		var ruta="{{ path('historia_dxHc') }}";
		var hcId = {{ historia.id }};

		autocompleteDxCodeSearch(url,ruta,hcId);			    
	});

	 // funcion para la busqueda del diagnostico con el autocomplete
	$("#newHcType_nameDxPrin,#newHcType_nameDxSalida,#newHcType_nameDxpDx,#newHcType_nameDxpCausaM").focusin(function()
	{
    	var url = "{{ path('historia_dxNameSearch') }}";
    	var ruta = "{{ path('historia_dxHc') }}";
    	var hcId = {{ historia.id }};
    	
    	autocompleteNameDxCodeSearch(url,ruta,hcId);
	 });

	 // funcion para la busqueda del EXAMENES con el autocomplete
	$("#newHcType_examenes,#newHcType_sal_examenes,#newHcType_sal_procedimientos").focusin(function()
	{
    	var url = "{{ path('historia_examen_search') }}";
    	var ruta = "{{ path('historia_examenHc') }}";
    	var hcId = {{ historia.id }};
    	
    	autocompleteExamenesSearch(url,ruta,hcId);
	 });

	 // funcion para la busqueda del LABORATORIO con el autocomplete
	$("#newHcType_laboratorio,#newHcType_sal_medicamentos").focusin(function()
	{
    	var url =  "{{ path('historia_lab_search') }}";
    	var ruta = "{{ path('historia_laboratorioHc') }}";
    	var hcId = {{ historia.id }};

    	autocompleteMedicamentosSearch(url,ruta,hcId)    	
	 });

	

	// funcion para visualizar los campos q se deben de llenar para una remision y una contraremision.
		 
		$("#newHcType_destino,#newHcType_tipoDestino,#newHcType_destinoUserSalidaObser,#newHcType_viaIngresoInstitucion,#newHcType_estadoSalida").change(function(){		

		{% if tipoingreso == 'U' or tipoingreso == 'H' %}
			tipoDeSalidaDelPaciente();
		  {% else %}
		  	tipoSalidaConsultaExterna();
		{% endif %}
			
		});

		

	 $(function() {
			 $("#newHcType_p_Fecha_n").datetimepicker({ dateFormat: 'dd/mm/yy' });
			 $("#newHcType_p_fecha_m").datetimepicker({ dateFormat: 'dd/mm/yy' });
			 
			 if("{{ historia.pFechaN }}" != null)
			 { $("#newHcType_p_Fecha_n").val('{{ historia.pFechaN }}');
				  }
			 if("{{ historia.pFechaM }}" != null)
			 { $("#newHcType_p_fecha_m").val('{{ historia.pFechaM }}'); 
				 }
			 
			 {% if tipoingreso == 'U' or tipoingreso == 'H' %}
				tipoDeSalidaDelPaciente();
			{% endif %}	     
		 });	 
</script>	
{% endblock %}