{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('HistoriaBundle:Builder:HistoriaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Nueva Historia{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

	<form action="{{ path('historia_save', {'factura':factura}) }}" class="form-horizontal" method="post" {{ form_enctype(form) }} {{ form_enctype(form_nota) }}>
	    <fieldset>
	    	<legend>Datos del historia</legend>
	    	
	    	
	    <div style="display: none;">			
			{{ form_label(form.fechaEgre) }}
			{{ form_errors(form.fechaEgre) }}
			{{ form_widget(form.fechaEgre) }}
		</div>
		
		<div id="signos">
			
			{{ form_label(form_nota.fC) }}
			{{ form_errors(form_nota.fC) }}
			{{ form_widget(form_nota.fC) }}
			
			{{ form_label(form_nota.fR) }}
			{{ form_errors(form_nota.fR) }}
			{{ form_widget(form_nota.fR) }}
			
			{{ form_label(form_nota.ta) }}
			{{ form_errors(form_nota.ta) }}
			{{ form_widget(form_nota.ta) }}
			
			{{ form_label(form_nota.temp) }}
			{{ form_errors(form_nota.temp) }}
			{{ form_widget(form_nota.temp) }}
			
			{{ form_label(form_nota.pulso) }}
			{{ form_errors(form_nota.pulso) }}
			{{ form_widget(form_nota.pulso) }}
				
			{{ form_label(form_nota.peso) }}
			{{ form_errors(form_nota.peso) }}
			{{ form_widget(form_nota.peso) }}
			
			{{ form_label(form_nota.estatura) }}
			{{ form_errors(form_nota.estatura) }}
			{{ form_widget(form_nota.estatura) }}
			
			{{ form_label(form_nota.imc) }}
			{{ form_errors(form_nota.imc) }}
			{{ form_widget(form_nota.imc) }}			
			
			{{ form_label(form_nota.glasgow) }}
			{{ form_errors(form_nota.glasgow) }}
			{{ form_widget(form_nota.glasgow) }}			
    	</div><br/>
    	
    	<div id="formNotas" style="display: none;">			
			{{ form_rest(form_nota) }}
		</div>
	    	    
		   {{ form_rest(form) }}
		   
			<div class="form-actions">
				<input class="btn btn-primary" name="guardar" type="submit" value="Guardar" />
			    <a href="{{ path('paciente_filtro') }}" class="btn btn-danger">Cancelar</a>
			</div>
	</form>
{% endblock %}

{% block javascripts %}

	<script type="text/javascript">
		$("#newNotasType_peso,#newNotasType_estatura").focusout(function() {
			var imc = 0;
			
			peso = $("#newNotasType_peso").val();
			talla = $("#newNotasType_estatura").val();
		
			if(peso && talla){
				imc = (peso/(Math.pow((talla/100),2)));		
				
				$("#newNotasType_imc").val(imc.toFixed(0));
			}else{
				$("#newNotasType_imc").val('');
			}		
		});
	</script>
{% endblock %}