{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FacturacionBundle:Builder:facturaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Anular/Reimprimir Factura{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}


		<form name="consultafacturas" id="consultaFacturas" class="form-horizontal" method="post" action="{{ path('facturas_list') }}" {{ form_enctype(form) }}>
			</fieldset>
		    	<legend>Busqueda</legend>
					{{ form_widget(form) }}
		   		<div class="form-actions">
					<input class="btn btn-primary" name="Buscar" type="submit" value="Buscar" />
			  	</div>
		    </fieldset>
		</form>
	{% if facturas1 %}
	    <table class="table">
	        <thead>
	            <tr>
	                <th>Factura.</th>
	              	<th>fecha</th>
	                <th>cliente</th>
	                <th>Id Paciente</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
	                <th>Servicio</th>
	                <th>Estado_Factura</th>
                        <th>Anular</th>
                        <th>Reimprimir</th>
                        

	            </tr>
	        </thead>
	        <tbody>
	        {% for facturas in facturas1 %}
	            <tr>
	                <td>{{ facturas.id }}</td>
	                <td>{{ facturas.fecha|date('Y-m-d') }}</td>
	             	 <td>{{ facturas.cliente }}</td>
	             	 <td>{{ facturas.paciente.identificacion }}</td>
                         <td>{{ facturas.paciente.priNombre }}</td>
                         <td>{{ facturas.paciente.priApellido }}</td>
	             	 <td>{{ facturas.servicio }}</td>
                         <td>{{ facturas.estado }}</td>
                         {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')%}
	            	 <td><a class="btn btn-danger" href="{{ path('facturas_motivo', {'factura1':facturas.id })}} "onClick="return confirm('Seguro que quieres Anular la Factura')"><i class="icon-remove"></i></a></td>
                        {%else%}
                                 <td>N/A</td>       
                        {%endif%}
                        {% if facturas.estado == 'C' or facturas.estado == 'A'%}
                         <td><a class="btn btn-success" href="{{ path('facturas_rimprimir', {'factura1':facturas.id })}} "onClick="return confirm('Seguro que quieres Reimprimir')"><i class="icon-ok"></i></a></td>
                        {%endif%}
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% else %}
		<div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>No existe factura</span>
	    </div>
	{% endif %}


{% endblock %}
