{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FacturacionBundle:Builder:facturaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Factura consulta{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}


		<form name="consultafacturas" id="consultaFacturas" class="form-horizontal" method="post" action="{{ path('facturas_final_list') }}" {{ form_enctype(form) }}>
			</fieldset>
		    	<legend>Busqueda</legend>
					{{ form_widget(form) }}
		   		<div class="form-actions">
					<input class="btn btn-primary" name="Buscar" type="submit" value="Buscar" />
			  	</div>
		    </fieldset>
		</form>
	{% if facturas1 %}
	    <table class="table">
	        <thead>
	        	<tr>
	            	<th>Factura.</th>
	              	<th>fecha</th>
	                <th>Cliente</th>
	                <th>Concepto</th>
                    <th>Valor</th>
                    <th>Copago</th>
	                <th>Asumido</th>
	                <th>Valor Cobrar</th>
                    <th>Anular</th>
                    <th>Reimprimir</th>
                    <th>RIPS</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for facturas in facturas1 %}
	            <tr>
	                <td>{{ facturas.id }}</td>
	                <td>{{ facturas.fecha|date('Y-m-d') }}</td>
	             	<td>{{ facturas.cliente }}</td>
	             	<td>{{ facturas.concepto }}</td>
                         <td>${{ facturas.valor |number_format(0)}}</td>
                         <td>${{ facturas.copago |number_format(0)}}</td>
	             	<td>${{ facturas.asumido |number_format(0)}}</td>
                         <td>${{ facturas.cobrar |number_format(0)}}</td>
                         {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')%}
	            	<td><a class="btn btn-danger" href="{{ path('facturas_final_motivo', {'factura1':facturas.id })}} "onClick="return confirm('Seguro que quieres Anular la Factura')"><i class="icon-remove"></i></a></td>
                        {%else%}
                                 <td>N/A</td>       
                        {%endif%}
                      
                 	<td><a class="btn btn-success" href="{{ path('facturas_final_rimprimir', {'factura1':facturas.id })}} "onClick="return confirm('Seguro que quieres Reimprimir')"><i class="icon-ok"></i></a></td>
                    <td><a class="btn btn-info" href="{{ path('factura_final_show', {'id':facturas.id })}}">Descargar</a></td>                       
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% else %}
		<div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>No existe factura</span>
	    </div>
	{% endif %}


{% endblock %}
