{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FacturacionBundle:Builder:facturaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Informacion Factura Final{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

<p align="left">Consolidado Cliente:<b>{{ cliente.nombre }}</b></p>
<p align="left">Fecha Inicial:<b>{{ f_inicio}}</b> - Fecha Final:<b>{{ f_fin}}</b></p>

	      
            {% if final %}
             
            {%endif%}

            {% if final %}         
	       <table class="table">

	        <thead>
	            <tr>
                	<td><b>Valor</b></td>
                        <td><b>Copago</b></td>
                	<td><b>Cargo a Ips</b></td>
                	<td><b>Total a Cobrar</b></td>
                	

	            </tr>
	        </thead>
	        <tbody>
                     
	            <tr>
                        <td> ${{(final.facturado + final_imv.facturado) | number_format(0) }}</td>
                        <td> ${{(final.copago + final_imv.copago) | number_format(0) }}</td>
                        <td> ${{(final.asumido + final_imv.asumido) | number_format(0) }}</td>
                        <td> ${{(((final.facturado + final_imv.facturado) - (final.copago + final_imv.copago)) - (final.asumido + final_imv.asumido)) | number_format(0) }}</td>
	            </tr>               
                    
               
	        </tbody>
	    </table>
              <form action="{{ path('factura_final_save',{'cliente':cliente.Id}) }}" class="form-horizontal" method="post" onSubmit="return confirm('Verifique antes de ganerar la Factura?');" {{ form_enctype(form) }}>
                <fieldset>
                    <legend>Datos de la Factura</legend>
                        {{ form_widget(form) }}
                    
                        <input type="hidden" name="cliente" value="{{ cliente.id }}" />
                        <input type="hidden" name="f_inicio" value="{{ f_inicio }}" />
                        <input type="hidden" name="f_fin" value="{{ f_fin }}" />
                        <input type="hidden" name="tipo" value="{{ tipo }}" />
		  
			<div class="form-actions">
				<input class="btn btn-primary" name="guardar" type="submit"  value="Generar" />
			    <a href="{{ path('factura_final_vista') }}" class="btn btn-danger">Cancelar</a>
			</div>
		</fieldset>	
            </form>
	    {% endif %}

{% endblock %}


{% block footer %}
{% endblock %}