{% extends "::simple.html.twig" %}

{% block head %}
{% endblock %}

{% block body %}
	<div>
		<table border="1">
			<thead>
				<tr>
					<th><b>Servicio			</b></th>		
					<th><b>Codigo Cargo		</b></th>
					<th><b>Nombre Cargo		</b></th>
					<th><b>Cantidad			</b></th>
					<th><b>Valor Unitario	</b></th>
					<th><b>Costo Total		</b></th>							
				</tr>
			</thead>
			<tbody>
				{% for entity in facturaCargo %}
					<tr>
						<td>{{ entity.servicio }}</td>
						<td>{{ entity.soat}}</td>
						<td>{{ entity.cargo}}</td>
						<td>{{ entity.cantidad }}</td>
						<td>{{ entity.vrUnitario}}</td>
						<td>{{ entity.total }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}