{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de Ingresos{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}
	{% if ingreso %}
	    <table class="table">
	        <thead>
	            <tr>
	                <th>No.</th>
	                <th>Factura</th>
	                <th>Fecha</th>
	                <th>Valor Total</th>
	                <th>Almacen</th>
	                <th>Proveedor</th>
	                <th>Imprmir</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for ingreso in ingreso %}
	            <tr>
	                <td>{{ loop.index }}</td>
                        
                        {% if ingreso.estado=='I' %}
                              <td>{{ ingreso.numFact }}</td>
		                {% else %}
                              <td><a href="{{ path('ingreso_show', {'ingreso':ingreso.id}) }}">{{ ingreso.numFact }}</a></td>
		                {% endif %}
                     

                     
                        <td>{{ ingreso.fecha | date('d-m-Y')}}</td>
	                <td> $ {{ ingreso.valorT | number_format(0,',','.')}}</td>
	              	<td>{{ ingreso.almacen}}</td>
	                <td>{{ ingreso.proveedor}}</td>
	                <td><a class="btn btn-mini"  href="{{ path('ingreso_printn', {'ingreso':ingreso.id})}} " ><i class="icon-print"></i></a></td>

	            </tr>

	        {% endfor %}

	        </tbody>
	    </table>



	  <div class="form-actions">
				<a href="{{ path('ingreso_new') }}" class="btn btn-primary">Nuevo Ingreso</a>
			    <a href="{{ path('ingreso_search') }}" class="btn btn-primary">Buscar Ingresos</a>

			</div>


	{% else %}
		<div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>No existen ingresos creados</span>
	    </div>
	{% endif %}

{% endblock %}












