{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Nueva Inventario{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}


<table class="table">
        <thead>
	        <tr>
                <th>No.</th>
                <th>Almacen</th>
                <th>Factura</th>
                <td>Fecha</th>
                <th>Valor Total</th>
                
            </tr>
        </thead>    
            
        <tbody>
            <tr>
            	<td>{{ ingreso.id }}</td>
            	<td>{{ ingreso.almacen }}</td>
            	<td>{{ ingreso.numFact }}</td>
            	<td>{{ ingreso.fecha | date('d-m-Y')}}</td>
            	<td>{{ ingreso.valorT}}</td>
        	</tr>
        </tbody>    
    </table>


	<form action="{{ path('inventario_save', {'ingreso':ingreso.id}) }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
	    <fieldset>
	    	<legend>Datos del inventario</legend>
	    	    
		   {{ form_widget(form) }}
		   
			<div class="form-actions">
				<input class="btn btn-primary" name="guardar" type="submit"  value="Guardar" />
			    <a href="{{ path('ingreso_list') }}" class="btn btn-danger">Cancelar</a>
			</div>
		</fieldset>	
	</form>
{% endblock %}