{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Información del Imv{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

    <table class="table">
        <tbody>
        	<tr>
                <td><strong>Codigo.</strong></td>
                <td>{{ inv.imv.codCups }}</td>
            </tr>

            <tr>
                <td><strong>Nombre</strong></td>
                <td>{{ inv.imv.nombre }}</td>
            </tr>


            <tr>
                <td><strong>Cantidad</strong></td>
                <td>{{ inv.cant }}</td>
            </tr>

            <tr>
                <td><strong>Precio Compra</strong></td>
                <td>${{ inv.precioCompra | number_format(0,',','.') }}</td>
            </tr>

            <tr>
                <td><strong>Precio Venta</strong></td>
                <td>${{ inv.imv.precioVenta | number_format(0,',','.') }}</td>
            </tr>

        </tbody>
    </table>

	<div class="btn-group">
	    <a href="{{ path('inventario_edit', {'ingreso': inv.ingreso.id, 'imv':inv.imv.id}) }}" class="btn btn-primary">Modificar</a>
	    <a href="{{ path('ingreso_list') }}" class="btn">Volver</a>
    </div>
{% endblock %}
