{% extends "::simple.html.twig" %}

{% block head %}
	<div><b>{{ titulo }}</b></div>
	<table>
		<tr>
		  	<td width="1000px" align="left">Paciente: {{ paciente.priNombre|capitalize }} {{ paciente.segNombre|capitalize }} {{ paciente.priApellido|capitalize }} {{ paciente.segApellido|capitalize }}</td>
		  	<td width="400px" align="left">{{ paciente.tipoid }} : {{ paciente.identificacion }}</td>
		  	<td width="580px" align="left">Fnaciem: {{ paciente.fN | date('d/m/Y') }}</td>
		  	<td width="400px" align="left">Edad: {{ date('now') | date('Y-m-d') - paciente.fn | date('Y-m-d') }} A</td>
		  	<td width="300px" align="left">Sexo: {{ paciente.sexo }}</td>
	 	</tr>
	 	<tr>
		  	<td align="left">Estado Civil: {{ paciente.estaCivil }}</td>
		  	<td align="left">Entidad: {{ factura.cliente.nombre }}</td>
		  	<td align="left">Nivel: {{ afiliacion.tipoRegist }}</td>
		  	<td align="left">Afiliación: {{ afiliacion.rango }}</td>
	 	</tr>
	 	<tr>
		  	<td width="850px" align="left">Direccion: {{ paciente.direccion }}</td>
		  	<td width="700px" align="left" colspan="2">Telefono: {{ paciente.telefono }} - {{ paciente.movil }}</td>
		  	<td align="left" colspan="2">Municipio: {{ mupio.municipio }} [{{ depto.nombre }}]</td>
	 	</tr>
	 	<tr>
		  	<td width="750px" align="left">Servi Ingreso: {{ factura.servicio.nombre }}</td>
		  	<td width="800px" align="left">F/H Ingreso: {{ historia.created | date('d/m/Y H:i') }}</td>
		  	<td width="750px" align="left">Servi Egreso: {{ historia.serviEgre.nombre }}</td>
		  	<td align="left">F/ Egreso: {{ historia.updated | date('d/m/Y H:i' ) }}</td>
	 	</tr>
	 </table>
{% endblock %}