{% extends "::simple.html.twig" %}

{% block body %}
<div>
	<h1>Listado De Todas Las Notas Del Paciente:</h1>
	
  					<table border="1">
  						<thead>
  							<tr>
  								<th width="80px">No.</th>
  								<th width="300px">Fecha/Hora</th>
  								<th width="400px">Responsable</th>
  								<th>FC</th>
	                			<th>FR</th>
		                		<th>TA</th>
		                		<th>Temp</th>
		                		<th>Pulso</th>
		                		<th>Peso</th>
		                		<th>Estatura</th>
		                		<th>IMC</th>
		                		<th>Glasgow</th>		                		
  							</tr>  							
  						</thead>
  						<tbody>
  							{% for nota in listNotas %}  							
	  							<tr border="1">
	  								<td width="80px">{{ loop.index }}</td>
	  								<td width="300px">{{ nota.fecha | date("H:m d/m/Y")}}</td>
	  								<td width="400px">{{ nota.responsable.nombre}} {{ nota.responsable.apellido}}</td>
		                			<td>{{ nota.fC}}</td>
		                			<td>{{ nota.fR }}</td>
		                			<td>{{ nota.ta }}</td>
		                			<td>{{ nota.temp }}</td>
		                			<td>{{ nota.pulso }}</td>
		                			<td>{{ nota.peso }}</td>
		                			<td>{{ nota.estatura }}</td>
		                			<td>{{ nota.imc }}</td>
		                			<td>{{ nota.glasgow }}</td>		                			
	                			</tr>
	                			<tr>
  									<th colspan="12">Resumen De La Nota:</th>
  								</tr> 
	                			<tr>
	                				<td colspan="12">{{ nota.resumenNota }}<br/></td>
	                			</tr>
  							{% endfor %}
  						</tbody>
  					</table>
</div>
{% endblock %}