{% extends "::simple.html.twig" %}

{% block body %}
<div>
	<h1>Procedimientos:</h1>
	<p>{{ historia.procedimientosS | raw }}</p>
	<p>
		<b>Medico: </b> {{ usuario.nombre }} {{ usuario.apellido }} Especialidad: {{ usuario.especialidad }} <br/>
		<b>Registro:{{usuario.rm}}</b><br/>
		<b>Firma: </b>
                <b>Factura:{{factura.id}}</b>
	</p>
</div>
{% endblock %}