{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Información de la Farmacia{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

	<table class="table">
        <tbody>
        	<tr>
                <td><strong>No.</strong></td>
                <td>{{ farmacia.id }}</td>
            </tr>
            <tr>
                <td><strong>Nombre</strong></td>
                <td>{{ farmacia.nombre }}</td>
            </tr>
            <tr>
                <td><strong>Observacion</strong></td>
                <td>{{ farmacia.observacion }}</td>
            </tr>

            <tr>
                <td><strong>Estado</strong></td>
                <td>{{ farmacia.estado }}</td>
            </tr>

        </tbody>
    </table>

	<div class="btn-group">
	    <a href="{{ path('farmacia_edit', {'farmacia':farmacia.id}) }}" class="btn btn-primary">Modificar</a>
	    <a href="{{ path('farmacia_resultf', {'farmacia':farmacia.id}) }}" class="btn">Ver Existencias</a>
	    <a href="{{ path('farmacia_print', {'farmacia':farmacia.id}) }}" class="btn" >Imprimir Existencias</a>
	    <a href="{{ path('farmacia_list') }}" class="btn">Volver</a>
    </div>
{% endblock %}
