{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FacturacionBundle:Builder:facturaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Generar Reportes De Los Cargos{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

	<form action="{{ path('reporte_cargo_question') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
			<fieldset>		
			
				<div class="control-group">
						{{ form_label(form.opcion) }}
	    	    	<div class="controls">
						{{ form_errors(form.opcion) }}
						{{ form_widget(form.opcion) }}
					</div>
	    	    </div>
	    	    <div class="control-group"  id="cliente" style="display: none;">
						{{ form_label(form.cliente) }}
	    	    	<div class="controls">
						{{ form_errors(form.cliente) }}
						{{ form_widget(form.cliente) }}
					</div>
	    	    </div>
	    	    <div class="control-group"  id="usuarios" style="display: none;">
						{{ form_label(form.usuarios) }}
	    	    	<div class="controls">
						{{ form_errors(form.usuarios) }}
						{{ form_widget(form.usuarios) }}
					</div>
	    	    </div>
	    	    <div class="control-group"  id="servicio" style="display: none;">
						{{ form_label(form.servicio) }}
	    	    	<div class="controls">
						{{ form_errors(form.servicio) }}
						{{ form_widget(form.servicio) }}
					</div>
	    	    </div>
	    	    <div class="control-group"  id="regimen" style="display: none;">
						{{ form_label(form.regimen) }}
	    	    	<div class="controls">
						{{ form_errors(form.regimen) }}
						{{ form_widget(form.regimen) }}
					</div>
	    	    </div>
	    	    <div class="control-group">
						{{ form_label(form.dateStart) }}
	    	    	<div class="controls">
						{{ form_errors(form.dateStart) }}
						{{ form_widget(form.dateStart) }}
					</div>
	    	    </div>
	    	    <div class="control-group">
						{{ form_label(form.dateEnd) }}
	    	    	<div class="controls">
						{{ form_errors(form.dateEnd) }}
						{{ form_widget(form.dateEnd) }}
					</div>
	    	    </div>
					{{ form_rest(form) }}				
			</fieldset>
					
			<div class="form-actions">
				<input class="btn btn-primary" name="guardar" type="submit" value="Aceptar" />
			    <a href="#" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
	
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function() {   

    $( "#knx_reportes_dateStart" ).datepicker({
        defaultDate: "+1w",
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
          $( "#knx_reportes_dateEnd" ).datepicker( "option", "minDate", selectedDate );
        }
      });

    $( "#knx_reportes_dateEnd" ).datepicker({
        defaultDate: "+1w",
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
          $( "#knx_reportes_dateStart" ).datepicker( "option", "maxDate", selectedDate );
        }
      });
});



$("#knx_reportes_opcion").change(function(){		
	
	var opcion = $("#knx_reportes_opcion").val();
	
	if(opcion == 'IG'){		
		$('#servicio').hide('slow');
		$('#regimen').hide('slow');
		$('#usuarios').hide('slow');
		$('#cliente').show('slow');
	}
	else if(opcion == 'IR'){
		$('#cliente').hide('slow');
		$('#servicio').hide('slow');
		$('#usuarios').hide('slow');
		$('#regimen').show('slow');
		}
	else if(opcion == 'IAR'){
		$('#cliente').hide('slow');		
		$('#regimen').hide('slow');
		$('#usuarios').hide('slow');
		$('#servicio').show('slow');
	}
	else if(opcion == 'ICRM'){
		$('#cliente').hide('slow');		
		$('#regimen').hide('slow');
		$('#servicio').hide('slow');
		$('#usuarios').show('slow');
	}
	else{
		$('#cliente').hide('slow');
		$('#servicio').hide('slow');
		$('#regimen').hide('slow');
	}
});
</script>
{% endblock %}
