{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('ParametrizarBundle:Builder:superAdminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Modificar perfil{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}
		<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
			<fieldset>
	    		<legend>Datos del usuario</legend>
		    	
					{{ form_widget(form) }}
					
			</fieldset>
					
			<div class="form-actions">
				<input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
			    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
{% endblock %}