{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('ParametrizarBundle:Builder:superAdminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de categorías de pyp{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}
	{% if pyps %}
	    <table class="table">
	        <thead>
	            <tr>
	                <th>No.</th>
	                <th>Código</th>
	                <th>Nombre</th>	                
	            </tr>
	        </thead>
	        <tbody>
	        {% for pyp in pyps %}
	            <tr>
	                <td>{{ loop.index }}</td>
	                <td>{{ pyp.codigo }}</td>
	                <td><a href="{{ path('pyp_show', {'pyp':pyp.id}) }}">{{ pyp.nombre }}</a></td>	                
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% else %}
		<div class="alert alert-info">
	        <span>No existen categorias de pyp creadas</span>
	    </div>
	{% endif %}
		
    
    <a href="{{ path('pyp_new') }}" class="btn btn-primary">Nueva categoría</a>
{% endblock %}
