{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
		
	table.consolidado {
    	font-size: 7pt;
    }

</style>     
{% endblock %}

{% block body %}
<p align="left">Consolidado cliente:<b>{{ cliente.nombre }}</b></p>
<p align="left">Fecha Inicial:<b>{{ f_inicio}}</b> - Fecha Final:<b>{{ f_fin}}</b></p>
<p align="left">Tipo:
	<b>
		{% if(tipo == 'P') %}
			Promoción y Prevención
		{% else %}
			Baja Complejidad
		{% endif %}
	</b>
</p>
	<table border="1">
	    <thead>
		    <tr>
	    	    <th width="30px"><b>No.</b></th>
               	<th width="65px"><b>Fecha.</b></th>
                <th width="50px"><b>Factura</b></th>
              	<th width="30px"><b>Tipo</b></th>
              	<th width="80px"><b>Identificación</b></th>
               	<th width="200px"><b>Paciente</b></th>
                <th width="65px"><b>Facturado</b></th>
             	<th width="40px"><b>Cargo IPS</b></th>
	            <th width="50px"><b>Copago</b></th>
                <th width="55px"><b>Total</b></th>
	     	</tr>
		</thead>
	    <tbody>
        	
			{% set ips = 0 %}
            {% set copago1 = 0 %}
            {% set valor = 0 %}

	        {% for consolidados in consolidado_cargos %}
            	
	        	{% set ips = ips + consolidados.asumido %}
                {% set valor = valor + consolidados.facturado %}
                {% set copago1 = copago1 + consolidados.copago %}                
                
                <tr>
			    	<td width="30px"> {{  loop.index }}</td>
		            <td width="65px"> {{  consolidados.fecha|date('d-m-Y')}}</td>
	                <td width="50px"> {{  consolidados.id}}</td>
		            <td width="30px"> {{  consolidados.tipoId }}</td>
		            <td width="80px"> {{  consolidados.identificacion}}</td>
	            	<td width="200px"> {{ consolidados.priNombre|capitalize }} {{ consolidados.segNombre|capitalize }} {{ consolidados.priApellido|capitalize }} {{ consolidados.segApellido|capitalize }}</td>
	            	<td width="65px"> ${{ (consolidados.facturado) | number_format(0)}}</td>
	                <td width="40px"> ${{  (consolidados.asumido) | number_format(0)}}</td>
	            	<td width="50px"> ${{  (consolidados.copago) | number_format(0)}}</td>
	                <td width="55px"> ${{  (consolidados.total) | number_format(0)}}</td>
		    	</tr>
	            
			{% else %}
         		<tr>
         			<td colspan="8">No tenemos actividades realizadas en este periodo de tiempo.</td>
         		</tr>
	        {% endfor %}
                <tr>
        		<td colspan="9"><br /><br />VALOR ACTIVIDADES: <b>${{ (valor)|number_format(0) }}</b></td>
        	</tr>
        	<tr>
        		<td colspan="9"><br /><br />COPAGOS: <b>${{ (copago1)|number_format(0) }}</b></td>
        	</tr> 
                <tr>
        		<td colspan="9"><br /><br />Cargado a IPS: <b>${{ (ips)|number_format(0) }}</b></td>
        	</tr> 
        	<tr>
                    <td colspan="9"><br /><br />TOTAL A COBRAR: <b>${{ (valor-copago1-ips)|number_format(0) }}</b></td>
        	</tr>    
	        </tbody>
	    </table>
{% endblock %}