{% extends "::simple.html.twig" %}

{% block head %}
{% endblock %}

{% block body %}
	<div>
	
		<table border="1">
			<thead>
				<tr>					
					<th><b>Fecha Inicio </b></th>		
					<th><b>Fecha Final	</b></th>
					<th><b>Sexo			</b></th>							
					<th><b>Edad Inicial	</b></th>
					<th><b>Edad Final	</b></th>
					<th><b>Servicio		</b></th>
					<th><b>Atención		</b></th>
				</tr>
			</thead>
			<tbody>				
				<tr>
					<td>{{ dateStart | date('d-m-Y') }}</td>
					<td>{{ dateEnd | date('d-m-Y') }}</td>
					<td>{{ genero }}</td>
					<td>{{ oldStart }}</td>
					<td>{{ oldEnd }}</td>
					<td>{{ servicio }}</td>
					<td>{{ atencion }}</td>
				</tr>				
			</tbody>
		</table>
	</div>
	
	<br/>
	
	<div>	
		<table border="1">
			<thead>
				<tr>
					<th width="100px"><b>No.</b></th>
					<th width="1150px"><b>Diagnostico	</b></th>		
					<th><b>Codigo		</b></th>
					<th><b>Cantidad		</b></th>							
				</tr>
			</thead>
			<tbody>
				{% for entity in informe %}
					<tr>
						<td width="100px">{{ loop.index }}</td>
						<td width="1150px" >{{ entity.nombre }}</td>
						<td>{{ entity.codigo}}</td>
						<td>{{ entity.cantidad}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}