{% extends "::simple.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}

        <p><b>Devoluciones a Proveedores desde {{ fechai }} hasta {{ fechaf }}</b><br/><br/><br/>


	      {% if devfarma %}
	       <table  border="1">

	      <thead>
	            <tr>
	                <th width="30px"><b>No.</b></th>
                	<th width="80px"><b>FECHA.</b></th>
                	<th width="80px"><b>PROVEEDOR</b></th>
                	<th width="80px"><b>ALMACEN</b></th>
                	<th width="300px"><b>NOMBRE</b></th>
               	 	<th width="40px"><b>CANT.</b></th>

	            </tr>
	        </thead>
	        <tbody>
	        {% for devfarma in devfarma %}
	            <tr>
	                <td width="30px">{{ loop.index }}</td>
	                <td width="80px">{{ devfarma.fecha | date('d-m-Y')}}</td>
	                <td width="80px">{{ devfarma.proveedor}}</td>
            		<td width="80px">{{ devfarma.almacen}}</td>
            		<td width="300px">{{ devfarma.imv}}</td>
            		<td width="40px">{{ devfarma.cant}}</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	    {% endif %}
{% endblock %}


{% block footer %}
{% endblock %}