{% extends "::admin_layout.html.twig" %}

{% block menu %}{% endblock %}

{% block rastro %}{% endblock %}

{% block titulo %}Modificar paciente{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

<form action="{{ path('paciente_jx_update',{'paciente':paciente.id}) }}" method="post" {{ form_enctype(edit_form) }} >
    <fieldset>
    	<legend>Datos del paciente</legend>
    	<div>
    		<div>
    			<label class="control-label" for="tipoid">
    				<p>Tipo Id (*):
    				<span style='display:inline; white-space:pre; padding-right: 0em;'>	</span>
    				Numero de Indetificación (*):</p>
    			</label>
	    	    <div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.tipoId) }}
					{{ form_widget(edit_form.tipoId,{ 'attr': {'class': 'span1'} }) }}				
					
					{{ form_errors(edit_form.identificacion) }}
					{{ form_widget(edit_form.identificacion,{ 'attr': {'class': 'span2'} }) }}
				</div> 
    		</div>   	
    		
    		<div>
    			<label class="control-label" for="tipoid">
	    			<p>Primer Nombre(*):
	    			<span style='display:inline; white-space:pre; padding-right: 10em;'>	</span>
	    			Segundo Nombre:</p>
    			</label>
    			<div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.priNombre) }}
					{{ form_widget(edit_form.priNombre,{ 'attr': {'class': 'span3'} }) }}					
					
					{{ form_errors(edit_form.segNombre) }}
					{{ form_widget(edit_form.segNombre,{ 'attr': {'class': 'span3'} }) }}
				</div>
    		</div>	
    		
    		<div>
    			<label class="control-label" for="tipoid">
	    			<p>Primer Apellido(*):
	    			<span style='display:inline; white-space:pre; padding-right: 10em;'>	</span>
	    			Segundo Apellido:</p>
    			</label>
    			<div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.priApellido) }}
					{{ form_widget(edit_form.priApellido,{ 'attr': {'class': 'span3'} }) }}					
					
					{{ form_errors(edit_form.segApellido) }}
					{{ form_widget(edit_form.segApellido,{ 'attr': {'class': 'span3'} }) }}
				</div>
    		</div>	
    		
    		<div>
    			<label class="control-label" for="tipoid">
	    			<p>Ocupación(*):
	    			<span style='display:inline; white-space:pre; padding-right: 11em;'>	</span>
	    			Fecha Nacimiento(*):
	    			<span style='display:inline; white-space:pre; padding-right: 5em;'>	</span>
	    			Sexo(*):</p>
    			</label>
    			<div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.ocupacion) }}
					{{ form_widget(edit_form.ocupacion,{ 'attr': {'class': 'span3'} }) }}					
					
					{{ form_errors(edit_form.fN) }}
					{{ form_widget(edit_form.fN,{ 'attr': {'class': 'span2'} }) }}					
					
					{{ form_errors(edit_form.sexo) }}
					{{ form_widget(edit_form.sexo,{ 'attr': {'class': 'span1'} }) }}					
				</div>
    		</div>
    		
    		<div>
    			<label class="control-label" for="tipoid">
    				<p>Departamento(*):
    				<span style='display:inline; white-space:pre; padding-right: 10em;'>	</span>
    				 Municipio(*):
    				 <span style='display:inline; white-space:pre; padding-right: 9em;'>	</span>
    				 Zona(*):</p>
    			</label>
    			<div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.depto) }}
					{{ form_widget(edit_form.depto,{ 'attr': {'class': 'span3'} }) }}
					
					{{ form_errors(edit_form.mupio) }}
					{{ form_widget(edit_form.mupio,{ 'attr': {'class': 'span2'} }) }}					
					
					{{ form_errors(edit_form.zona) }}
					{{ form_widget(edit_form.zona,{ 'attr': {'class': 'span1'} }) }}					
				</div>
    		</div>	
    		
    		<div>
    			<label class="control-label" for="tipoid">
    				<p>Estado Civil:
    					<span style='display:inline; white-space:pre; padding-right: 7em;'>	</span>
    				Dirección:</p>
    			</label>
    			<div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.estaCivil) }}
					{{ form_widget(edit_form.estaCivil,{ 'attr': {'class': 'span2'} }) }}
					
					{{ form_errors(edit_form.direccion) }}
					{{ form_widget(edit_form.direccion,{ 'attr': {'class': 'span4'} }) }}				
				</div>
    		</div>	
    		
    		<div>
    			<label class="control-label" for="tipoid">
    				<p>Numero Telefonico:
    					<span style='display:inline; white-space:pre; padding-right: 3em;'>	</span>
    				Correo Eclectronico:</p>
    			</label>
    			<div class="controls controls-row">
    			
	    			{{ form_errors(edit_form.telefono) }}
	    			{{ form_widget(edit_form.telefono,{ 'attr': {'class': 'span2'} }) }}
					
					{{ form_errors(edit_form.email) }}
					{{ form_widget(edit_form.email,{ 'attr': {'class': 'span2'} }) }}			
									
				</div>
    		</div>
    		
    		<div>
    			<label class="control-label" for="tipoid">
    				<p>Numero Movil:
    				</p>
    			</label>
    			<div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.movil) }}
					{{ form_widget(edit_form.movil,{ 'attr': {'class': 'span2'} }) }}			
				</div>
    		</div>		
    		
    		<div>
    			<label class="control-label" for="tipoid">
    				<p>Pertenencia Etnica:</p>
    			</label>
    			<div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.pertEtnica) }}
					{{ form_widget(edit_form.pertEtnica,{ 'attr': {'class': 'span6'} }) }}			
				</div>
    		</div>	
    		
    		<div>
    			<label class="control-label" for="tipoid">
    				<p>Nivel educativo:
    					<span style='display:inline; white-space:pre; padding-right: 18em;'>	</span>
    					tipo Desplazado:
    				</p>
    			</label>
    			<div class="controls controls-row">
	    	    	
					{{ form_errors(edit_form.nivelEdu) }}
					{{ form_widget(edit_form.nivelEdu,{ 'attr': {'class': 'span4'} }) }}
					
					{{ form_errors(edit_form.tipoDes) }}
					{{ form_widget(edit_form.tipoDes,{ 'attr': {'class': 'span2'} }) }}				
				</div>
    		</div>		
			
			    		
    	</div>
    				 
    	{{ form_rest(edit_form) }}
    </fieldset>
    
    <button class="btn btn-primary" type="submit">Modificar</button>
    <a href="{{ path('paciente_jx_show', {'paciente': paciente.id}) }}" class="btn">Regresar</a>
    
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

$("#knxPacientetype_depto").change(function(){
		
	var url="{{ path('paciente_findDepto') }}";
	var depto = $("#knxPacientetype_depto").val();

	if(depto == ""){
		   alert("Seleccione una opcion valida");
		}

		$.post(url,{
			depto: depto
			},function(data){
				if(data.responseCode==200){

					$('#knxPacientetype_mupio').empty();					

					$.each(data.mupio, function(i, val) {
						$('#knxPacientetype_mupio').append('<option value="'+val.id+'">'+val.municipio+'</option>')
					});					
				}
				else if(data.responseCode==400){
					alert("Ha ocurrido un error 400 información no disponible.");
	             }
	             else{
	         	    alert("Ha ocurrido un error en el sistema.");
	             }
	        })
 });

$(function() {
    $( "#knxPacientetype_fN" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $( "#knxPacientetype_fN" ).val('{{ paciente.fN }}');    
});
</script>
{% endblock %}
