{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de Insumo_Pyp{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}

<form name="consultaImv" id="consultaImv" class="form-horizontal" method="post" action="{{ path('imvpyp_list') }}" {{ form_enctype(form) }}>
	<fieldset>
		    	<legend>Busqueda</legend>
					{{ form_widget(form) }}


		   <div class="form-actions">
				<input class="btn btn-primary" name="Buscar"  type="submit" value="Buscar" />
				<a href="{{ path('imvpyp_new') }}" class="btn btn-primary">Nueva Stock_Pyp</a>
			    <a href="{{ path('imvpyp_search') }}" class="btn">Volver</a>

			</div>
   </fieldset>
</form>

	{% if pimv %}
	    <table class="table">
	        <thead>
	            <tr>
	               <th>No.</th>
	                <th>Nombre</th>
	                <th>Categoria</th>
	                <th>Edad_Inicial(Años)</th>
	                <th>Edad_Final(Años)</th>
	                <th>Rango(Años)</th>
	                <th>Sexo</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for pimv in pimv %}
	            <tr>
	                 <td>{{ loop.index }}</td>
	                 <td><a href="{{ path('imvpyp_show', {'pyp': pimv.pyp.id, 'imv': pimv.imv.id }) }}">{{ pimv.imv }}</td>
	             	 <td>{{ pimv.pyp }}</td>
	             	 <td>{{ pimv.edadini }}</td>
	             	 <td>{{ pimv.edadfin}}</td>
	             	 <td>{{ pimv.rango}}</td>
	             	 <td>{{ pimv.sexo}}</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% else %}
		<div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>No existen Stock_Pyp creadas</span>
	    </div>
	{% endif %}


{% endblock %}
