{% extends "::simple.html.twig" %}

{% block stylesheets %}

<style>
		
	table.cierre {
    	font-size: 7pt;
    }
    
 
</style> 
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}
<p align="center"> <h1>CIERRE DE CAJA </h1></p>
<p align="left">Facturador:<b>{{facturas.nombre }} {{ facturas.apellido|capitalize }} </b></p>
<p align="left">Fecha Inicial:<b>{{ f_inicio}}</b> - Fecha Final:<b>{{ f_fin}}</b></p>


	      {% if cierre %}
         

	       <table border="1" class="cierre">

	        <thead>
	           <tr>
                	<th width="65px" align="left"><b>Fecha.</b></th>
                        <th width="45px" align="left"><b>Factura</b></th>
                	<th width="30px" align="left"><b>Tipo</b></th>
                	<th width="90px" align="left"><b>Identificación</b></th>
                	<th width="150px" align="left"><b>Paciente</b></th>
                        <th width="60px" align="left"><b>Facturado</b></th>
               	 	<th width="50px" align="left"><b>Copago</b></th>
	                <th width="50px" align="left"><b>CargoIps</b></th>
                        <th width="60px" align="left"><b>Valor Total</b></th>
                        <th width="80px"><b>Cliente</b></th>

	            </tr>
	        </thead>
	        <tbody>
                     {% set ips = 0 %}
                     {% set copago1 = 0 %}
                     {% set valor = 0 %}
                        
                        
	        {% for cierre in cierre %}
                        {% set ips = ips + cierre.asumido %}
                        {% set valor = valor + cierre.facturado %}
                        {% set copago1 = copago1 + cierre.copago %}
	            <tr>
                        
                        
                        
                        
	                <td width="65px" align="left"> {{  cierre.fecha|date('d-m-Y')}}</td>
                        <td width="45px" align="left"> {{  cierre.factura}}</td>
	                <td width="30px" align="left"> {{  cierre.tipoId }}</td>
	             	<td width="90px" align="left"> {{  cierre.identificacion}}</td>
            		<td width="150px" align="left"> {{ cierre.priNombre|capitalize }} {{ cierre.segNombre|capitalize }} {{ cierre.priApellido|capitalize }} {{ cierre.segApellido|capitalize }}</td>
            		<td width="60px" align="left"> ${{  cierre.facturado|number_format(0) }}</td>
                        <td width="50px" align="left"> ${{  cierre.copago|number_format(0) }}</td>
            		<td width="50px" align="left"> ${{  cierre.asumido|number_format(0)}}</td>
                        <td width="60px" align="left"> ${{  cierre.total|number_format(0)}}</td>
	                <td width="80px"> {{  cierre.nombre}}</td>
                        
                        
	            </tr>
                    
                      {% else %}
         	<tr>
         		<td colspan="8">No tenemos actividades realizadas en este periodo de tiempo.</td>
         	</tr>
	        {% endfor %}
                <tr>
        		<td colspan="9"><br /><br />VALOR ACTIVIDADES: <b>${{ (valor)|number_format(0) }}</b></td>
        	</tr>
        	<tr>
        		<td colspan="9"><br /><br />RECUADOS: <b>${{ (copago1)|number_format(0) }}</b></td>
        	</tr> 
                <tr>
        		<td colspan="9"><br /><br />Cargado a IPS: <b>${{ (ips)|number_format(0) }}</b></td>
        	</tr> 
        	<tr>
                    <td colspan="9"><br /><br />TOTAL A COBRAR: <b>${{ (valor-copago1-ips)|number_format(0) }}</b></td>
        	</tr>    
	        </tbody>
	    </table>
	    {% endif %}
{% endblock %}


{% block footer %}
{% endblock %}