{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de Categoria{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}
	{% if catImv %}
	    <table class="table">
	        <thead>
	            <tr>
	                <th>No.</th>	                
	                <th>Nombre</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for catImv in catImv %}
	            <tr>
	                <td>{{ loop.index }}</td>
	                <td><a href="{{ path('categoria_show', {'catImv':catImv.id}) }}">{{ catImv.nombre }}</a></td>
	              
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	      <div class="navigation">
    		{{ knp_pagination_render(catImv) }}
		</div>
	{% else %}
		<div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>No existen categorias creadas</span>
	    </div>
	{% endif %}
		
    
    <a href="{{ path('categoria_new') }}" class="btn btn-primary">Nueva categoria</a>
{% endblock %}
